// Specific CSS for your home-page
.btn-red {
  color: white;
  background-color: #5C1D28;
  font-size: 24px;
  border-radius: 5px;
  padding: 15 30px;

}

.card {
      position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2px;
    height: 300px;
}

.btn-black {
  color: white;
  background-color: #061013;
  font-size: 24px;
  border-radius: 5px;
  padding: 15 50px;
  margin-left: 10px;
}
.btn-black-nav {
  color: white;
  background-color: #061013;
  font-size: 24px;
  border-radius: 5px;
  padding: 4px 15px;
  margin-right: 10px;
}
// #boutons {
//   margin-top: 50px;
// }
.container h1 {
  margin-bottom: 112px;
}
.vignette {
  height: 200px;
  width: 250px;
}

.cards {
  margin: 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

}
.subtitle {
  color:#5C1D28;
  font-weight: bolder;
  padding-bottom: 20px;
}
.subtitle2 {
  color:#5C1D28;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 40px;
}
.carousel-inner {
  margin-top: 50px;
  background-color: white;
  text-align: center;
  padding: 80px 15px;
  color: white;
  background-color: #061013;
}
.slide {
  background-color: #061013;
}
.footer-copyright {
  font-size: 24px;
  margin-bottom: 100px;
}

.footer-icons {
margin-top: 100px;
}
.carousel-container {
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 32px 80px;
}
