<div class="banner">
  <div class="banner-info">
    <h1>
      <%= link_to "create a unique experience", new_experience_path %>
    </h1>
    <p>
    </p>
  </div>
</div>

<div class="flexbox">

</div>

<div class="container">
<div class="cards" >
  <% @experiences.each do |experience| %>

  <div class="row ">
    <div class="card-experience">
      <img src='https://images.unsplash.com/photo-1485265449635-ca623a55e95c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'>
     <!--  <% i = 1 %>
      <img src="/cocktail1.jpeg"> -->
      <div class="card-trip-infos">
        <div>
          <h3><%= link_to experience.name, experience_path(experience) %></h3>
          <p><%= experience.description%></p>
        </div>
        <h2 class="card-trip-pricing">€1000</h2>
        <img src='https://kitt.lewagon.com/placeholder/users/clementLaussucq' class="card-trip-user avatar-bordered"/>
        <% i += 1 %>
      </div>
    </div>
  </div>
    <% end %>
 </div>
</div>
