  <div class="banner">
    <div class="banner-info">
      <% if policy(Experience).create? %>
        <%= link_to "create a unique experience", new_experience_path %>
      <% end %>
      <p>
      </p>
    </div>
  </div>

<div class="flexbox">
  dropbown x2
</div>

<div class="container">

  <div class="row">
    <div class="card-experience">
      <img src=''>
    <% @experiences.each do |experience| %>
      <div class="experience-description">
        <p><%= link_to experience.name, experience_path(experience)  %></p>
        <p> <%= experience.address %>
        <p> <%= experience.price %>

      </div>
    <% end %>
    </div>
  </div>
</div>


