<h1>Experiences#show</h1>
<p>Find me in app/views/experiences/show.html.erb</p>


  <%= @experience.name%>
<br>
  <%= link_to 'back', experiences_path, class: "btn btn-primary" %>

  <%= link_to "Book your amazing experience", new_experience_booking_path(@experience), class: "btn btn-primary"  %>


