.home-banner {
  background-image: url('https://images.unsplash.com/photo-1523908511403-7fc7b25592f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  }
.home-banner h1 {
  color: white;
  font-size: 88px;
  font-family: "Open Sans";
 }

.home-banner p {
  color: white;
  font-size: 40px;
  margin-top: 100px;
}
.banner {
  background-image: url('https://images.pexels.com/photos/2156/sky-earth-space-working.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  height: 100vh;
  }
