.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-booking > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 16px;
  margin-left: 10px;
}



  .card-booking-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .widget-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-booking-user {
    position: relative;
    right: 16px;
    top: -20px;
    width: 40px;
  }
   #card-booking-pricing {
    font-size: 24px;
    position: absolute;
    right: 16px;
    top: 35px;
    margin-top: -25px;
  }
  #experience-card-title {
    color: black;
    margin: 0px;
    font-size: 32px;
  }
  .text-center {
    font-size: 48px;
  }
  #categoryname {
    font-size: 24px;
  }
  .flex-price {
    margin-top: -25px;
  }

.experience-title {
  margin-bottom: -30px;
}
.experience-show-card {
  padding: 20px 40px;
}
.experience2-show-card {
  padding: 50px 100px;
}

#price {
  margin-top: -80px;
  margin-bottom: 40px;
  font-weight: bolder;
}
.btn-margin {
}
#price-up {
  margin-top: 0px !important;
}
